:root {
  --bg-dark: #0b1837;
  --btn-primary: #4674f4;
  --btn-secondary: #91aaf4;
  --text-white: #ffffff;
}

/* .my-button {
  background: var(--btn-primary) !important;
}
.my-button:hover {
  background: var(--btn-secondary) !important;
  color: var(--text-white);
  border: var(--btn-secondary) !important;
} */
